# Prepare MPSA dataset for use in MAVE-NN

In [1]:
# Standard imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

# Insert mavenn at beginning of path
import sys
path_to_mavenn_local = '../../../../'
sys.path.insert(0,path_to_mavenn_local)

#Load mavenn and check path
import mavenn
print(mavenn.__path__)

['../../../../mavenn']

In [2]:
# Load dataframe
df = pd.read_csv('brca2_lib1_rep1.csv')
df.columns=['x','y','dy']
N = len(df)
training_frac=.8
df['training_set'] = (np.random.rand(N) < training_frac)
df = df[['training_set','y','dy','x']]
df.head()

   training_set         y        dy          x
0         False -3.751854  0.444200  AAAGCAAAA
1          True -2.697741  0.369972  AAAGCAAAC
2          True -2.242947  0.575121  AAAGCAAAG
3         False -3.067251  0.357014  AAAGCAAAT
4         False -2.987074  0.472637  AAAGCAACA

In [3]:
# Show size of compressed dataset file
file_name = 'mpsa_data.csv.gz'
df.to_csv(file_name, compression='gzip', index=False)
print('df (zipped):')
!du -mh $file_name
!mv $file_name ../.

df (zipped):
444K	mpsa_data.csv.gz

In [4]:
# Test loading
loaded_df = mavenn.load_example_dataset('mpsa')
loaded_df.head()

   training_set         y        dy          x
0         False -3.751854  0.444200  AAAGCAAAA
1          True -2.697741  0.369972  AAAGCAAAC
2          True -2.242947  0.575121  AAAGCAAAG
3         False -3.067251  0.357014  AAAGCAAAT
4         False -2.987074  0.472637  AAAGCAACA